html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

body, html {
  height: 100%;
  font-family: sans-serif;
}
#world_view {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  position: relative;
}
.player {
  background: transparent url(img/player.png) no-repeat;
}

.enemy_alien {
  background: transparent url(img/alien.png) no-repeat;
}

.land_grass {
  background: transparent url(img/land_grass.png) no-repeat;
}
.land_tree {
  background: transparent url(img/land_trees.png) no-repeat;
}
.land_water {
  background: transparent url(img/land_water.png) no-repeat;
}
.land_bridge_v {
  background: transparent url(img/land_bridge_vertical.png) no-repeat;
}
.land_bridge_h {
  background: transparent url(img/land_bridge_horizontal.png) no-repeat;
}
.land_mountain {
  background: transparent url(img/land_mountain.png) no-repeat;
}
.land_road {
  background: transparent url(img/land_road.png) no-repeat;
}

#player_stats {
  background: rgba(0,0,0, 0.3);
  border-radius: 3px;
  color: #fff;
  white-space: pre-line;
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 144px;
  height: 48px;
  padding: 12px;
  line-height: 1.5em;
}
#player_stats .health {
  background: rgba(0,0,0, 0.3);
  height: 24px;
  border-radius: 3px;
}
#player_stats .health .percent {
  background: rgba(255,0,0, 0.8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,0.06)), color-stop(1, rgba(0,0,0,0.1)));
  box-shadow: 0px 1px 0px rgba(255,255,255, 0.3),
              0px 1px 0px rgba(255,255,255, 0.3) inset;
  border: 1px solid rgba(180,0,0, 0.8);
  height: 22px;
  border-radius: 3px;
}

